

<div class="row p-5">
  <div class="col-6">
    <div>
      <label> Soil moisture </label>
    </div>
   
    <mdb-card>
      
      <mdb-card-body>
        <circle-progress
       
        [percent]="30"
        [backgroundOpacity]= "1"
        [backgroundPadding]= "0"
        [radius] = "100"
        [space]= "-10"
        [toFixed] = "0"
        [outerStrokeWidth] = "10"
        [outerStrokeColor] = "'#7becf4'"
        [outerStrokeGradientStopColor] = "'#9fc0c6'"
        [innerStrokeColor] = "'#e7e8ea'"
        [innerStrokeWidth] = "10"
        [titleFontSize] = "45"
        [titleFontWeight] = "100"
        [animateTitle] = "false"
        [animationDuration] = "2100"
        [showTitle] = "true"
        [showUnits] = "true"
        
        [showBackground] = "false"
        [clockwise] = "false"
              ></circle-progress>
      </mdb-card-body>
    </mdb-card>
   
  </div>
  <div class="col-6">
    <div>
      <label> Rain sensor </label>
    </div>
  <mdb-card>
      
    <mdb-card-body>
      <circle-progress
       
      [percent]="44"
      [backgroundOpacity]= "1"
      [backgroundPadding]= "0"
      [radius] = "100"
      [space]= "-10"
      [toFixed] = "0"
      [outerStrokeWidth] = "10"
      [outerStrokeColor] = "'#7becf4'"
      [outerStrokeGradientStopColor] = "'#9fc0c6'"
      [innerStrokeColor] = "'#e7e8ea'"
      [innerStrokeWidth] = "10"
      [titleFontSize] = "45"
      [titleFontWeight] = "100"
      [animateTitle] = "false"
      [animationDuration] = "2100"
      [showTitle] = "true"
      [showUnits] = "true"
      
      [showBackground] = "false"
      [clockwise] = "false"
            ></circle-progress>
    </mdb-card-body>
  </mdb-card>
  </div>
  <div class="col-6">
    <div>
      <label> Water level </label>
    </div>
    <mdb-card>
      
      <mdb-card-body>
        <circle-progress
       
      [percent]="20"
      [backgroundOpacity]= "1"
      [backgroundPadding]= "0"
      [radius] = "100"
      [space]= "-10"
      [toFixed] = "0"
      [outerStrokeWidth] = "10"
      [outerStrokeColor] = "'#7becf4'"
      [outerStrokeGradientStopColor] = "'#9fc0c6'"
      [innerStrokeColor] = "'#e7e8ea'"
      [innerStrokeWidth] = "10"
      [titleFontSize] = "45"
      [titleFontWeight] = "100"
      [animateTitle] = "false"
      [animationDuration] = "2100"
      [showTitle] = "true"
      [showUnits] = "true"
      
      [showBackground] = "false"
      [clockwise] = "false"
            ></circle-progress>
      </mdb-card-body>
    </mdb-card>
   
  </div>
</div>